/* @font-face {
    font-family: 'Poppins-Thin';
    src: url('style/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('style/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('style/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins-Black';
    src: url('style/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900; 
}
*/
#favicon {
    width: 5px; /* Adjust the size as needed */
    height: 5px;
    border-radius: 50%; /* Create a circular appearance */
}
header{
    margin: 0;
    background: burlywood;
}
nav {
    font-family: 'Poppins';
    padding: 10px;
    background-color: burlywood;
    float: right;
 }
 nav a{
    padding-right: 20px;
    
 }
header button{
    margin-left: 20px;
    padding: 10px;
    width: 15%; 
    height: 15%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
header img {
    margin-left: 20px;
    padding: 10px;
    width: 15%; 
    height: 15%;
}
 main{
    background: thistle;
    margin: 0;
 }
 .namemain {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    margin-left: 20%;
    margin-top: 10%;
}
.descriptionhome{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    margin-left: 20%;
}
.namemain p,
.descriptionhome p {
    margin: 0;
}