/* TESTING */
/* #home{
    background-color: brown;
}
#aboutme{
    background-color: pink;
} */
/* #portfolio{
    background-color: green;
}
#contact{
    background-color: blueviolet;
} */

#favicon {
    width: 5px; /* Adjust the size as needed */
    height: 5px;
    border-radius: 50%; /* Create a circular appearance */
}
/* Header */
header{
    margin: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgb(98,7,9);
}
header img {
    margin-left: 5px;
    padding: 5px;
    width: 100%; 
    height: 100%;
}
/* Navigation */
nav {
    font-family: 'Poppins';
    padding: 10px;
    float: right;
 }
 nav a{
    padding-right: 20px;
    color: white;
    text-decoration: none;
    
 }
 .navcontainer{
    padding: 10px;
 }
.home-logo-button{
    margin-left: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 150px; 
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
/* Formatting for whole */
body{
    background: rgb(98,7,9);
    margin: 0px;
    font-family: 'Poppins';
}
 main{
    color: rgb(181 195 244);
    margin: 0px;
 }
.container{
    /* padding top used to keep top of container below header */
    padding-top: 150px; 
    padding-left: 10px;
    margin: 5px;
}
.section {
    height: 100vh;
}
.page-title{
    font-family: 'Poppins';
    font-weight: 800;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px;
    text-align: left;
    background-color: rgba(240, 255, 255, 0.059);
    text-align: center;
}

 /* Home Page */
 .homecontainer{
    height: 100vh;
 }
 .namemain {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    margin-left: 20%;
    margin-top: 15%;
}
.descriptionhome{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    margin-left: 20%;
    margin-bottom: 0;
}
.namemain p,
.descriptionhome p {
    margin: 0px;
}
.descriptionhome{
    margin-bottom: 0px;
}
/* About Me */
.resumeContainer{
    width: 100%;
    overflow: auto;
    margin: 0;
    padding-top: 0;
}
.resumeContainer div{
    width: 50%;
    float: left;

}
.resume h2 {
    text-align: left;
    font-family: 'Poppins';
    font-weight: 300;
    color: white;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: larger;
}
.resume h3 {
    text-align: left;
    font-family: 'Poppins';
    font-weight: 200;
    margin-left: 40px;
    margin-top: 5px;
    font-size: large;
}
.resume li {
    text-align: left;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 14;
    color: white;
    margin-left: 50px;
}
/* Portfolio Page */
.portfoliocontainer h2{
    font-family: 'Poppins';
    font-weight: 400px;
    font-size: 60;
    color: white;
    padding: 10px;
    margin: 5px;
}
.portfoliocontainer{
    font-weight: 800px;
    text-align: center;
}
.box-wrapper{
    justify-content: space-between;
    margin: 3rem auto;
}
.box{
    margin: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: rgba(181, 195, 244, 0.404);
    padding: 1.5rem;
    max-width: 1200px;
    display: inline-block;
    vertical-align: top;
}
.box img{
    width: 100px;
    background-color: none;
    border-radius: 50%;
    display: inline-block;
}
.box:hover{
    transition: 0.5s ease-in-out;
    background-color: rgba(181, 195, 244, 0.655);
    color: white;
}
.box img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px white;

}
.box a {
    text-decoration: none; 
    cursor: pointer;
    color: inherit; /*inherit properties of .box*/
}

/* Contact Page */
/* Contact Form Styles */
.contactcontainer {
    border-radius: 5px;
    background-color: rgb(98,7,9);
    padding: 10px;
    border-color: rgb(181, 195, 244);
    font-family: 'Poppins';
    font-weight: 100;
    color: white;
    display: block;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(66, 11, 11);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    background-color: rgb(121, 24, 25);
    color: white;
    font-family: 'Poppins';
    font-weight: 200;
}
input[type="submit"] {
    background-color: rgb(121, 24, 25);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(66, 11, 11);
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }